.task {
       &:not(:last-of-type) {
       margin-bottom: 30px;
     }




    padding: 60px;
  &__title {
   font-size: 32px;
   font-family: Montserrat;
   font-weight: bold;
   color: #36d6d6;
   padding-bottom: 20px;
   border-bottom: 1px solid #36d6d6;

   &:hover {
       img {
        opacity: 0.5;
       }
   }

   img {
       margin-left: 20px;
       cursor: pointer;
       opacity: 0;
       &:hover {
           opacity: 1;
       }

   }
  }
&__items {
    margin-top: 30px;
    h2 {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: bold;
        color: #36d6d6;
    }
    &_row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        p {
            margin-left: 15px;
            font-size: 16px;
            width: 100%;
            border: 0;
        }
              &:hover &-actions {
        opacity: 1;
      }
              &-actions {
        display: flex;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: lighten(#f4f6f8, 2%);
          border-radius: 6px;
          margin-left: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#f4f6f8, 6%);
            svg {
              opacity: 0.7;
            }
          }
        }
      }
    }
}


&__form {
    margin-top: 20px;

    &-block {
      .button {
        margin-right: 10px;
        margin-top: 15px;
      }
    }

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      svg {
        width: 16px;
        height: 16px;
        margin-left: 4px;
      }

      span {
        font-size: 16px;
        margin-left: 19px;
      }
    }
  }



  .checkbox {

    &:hover {
        label {
            svg {
                opacity: 0.8;
                fill:rgb(86, 104, 141);
            }
        }
    }

    input {
        display: none;
    }
    label {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;
        border-radius: 30px;
        border: 2px solid rgb(8, 197, 197);
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        svg {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }


    }
    input:checked + label {
        background-color:rgb(8, 197, 197);
        border-color:rgb(8, 197, 197);

        svg {
            opacity: 1;
            fill: #fff;
        }
    }
  }
}